[submodule "detection/vc_tflite/tensorflow"]
	path = detection/vc_tflite/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "detection/vc_tflite/libedgetpu"]
	path = detection/vc_tflite/libedgetpu
	url = https://github.com/NobuoTsukamoto/libedgetpu.git
[submodule "libedgetpu"]
	path = libedgetpu
	url = https://github.com/google-coral/libedgetpu.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "3rdparty/YOLOX"]
	path = 3rdparty/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX.git
[submodule "3rdparty/cocoapi"]
	path = 3rdparty/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
